<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <add name="DataBaseConnectionString" connectionString="Data Source=localhost;Initial Catalog=Employees;Integrated Security=False;Persist Security Info=False;User ID=;Password=;Connect Timeout=120" providerName="System.Data.SqlClient" />
</connectionStrings>
